<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>oos</display-name>

    <welcome-file-list>
        <welcome-file>/customer/index.jsp</welcome-file>
    </welcome-file-list>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////-->

    <!-- 设置全局的编码格式，针对get，post请求，默认编码为UTF-8 -->
    <filter>
        <filter-name>characterFilter</filter-name>
        <filter-class>com.guet.oos.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterFilter</filter-name>
        <!-- 拦截所有的请求,为所有的请求设置编码 -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////-->

    <!--通用拦截器-->
    <filter>
        <filter-name>universalFilter</filter-name>
        <filter-class>com.guet.oos.filter.UniversalFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>universalFilter</filter-name>
        <url-pattern>/customer/cart.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>universalFilter</filter-name>
        <url-pattern>/customer/pay.jsp</url-pattern>
    </filter-mapping>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////-->

    <!--正式用户拦截器-->
    <filter>
        <filter-name>formalUserAccessFilter</filter-name>
        <filter-class>com.guet.oos.filter.FormalUserAccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>formalUserAccessFilter</filter-name>
        <url-pattern>/customer/customerCenter.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>formalUserAccessFilter</filter-name>
        <url-pattern>/customer/continueShopping.jsp</url-pattern>
    </filter-mapping>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////-->

    <!--未注册用户拦截器-->
    <filter>
        <filter-name>regUserAccessFilter</filter-name>
        <filter-class>com.guet.oos.filter.RegUserAccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>regUserAccessFilter</filter-name>
        <url-pattern>/customer/customerConfirm.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>regUserAccessFilter</filter-name>
        <url-pattern>/customer/customerFromAgree.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>regUserAccessFilter</filter-name>
        <url-pattern>/customer/regCustomer.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>regUserAccessFilter</filter-name>
        <url-pattern>/customer/saveCustomer.jsp</url-pattern>
    </filter-mapping>

    <!--/////////////////////////////////////////////////////////////////////////////////////////////-->

</web-app>